body {
    background-color: #222;
    color: #fff;
  }
  
  .page {
    margin-bottom: 20px;
  }
  
  .page .card {
    border: 1px solid #444;
    padding: 10px;
    border-radius: 8px;
  }
  
  h1, h2 {
    color: #fff;
  }
  
  .expandable {
    width: 100%;
    min-height: 50px;
    resize: both;
    overflow: auto;
  }
  
  .btn-group {
    margin-bottom: 20px;
  }
  
  .card {
    margin-bottom: 20px;
  }
  
  .card-header, .card-body, .card-footer {
    padding: 10px;
  }
  
  .card-footer {
    text-align: right;
  }
  
  .d-none {
    display: none;
  }
  