body {
    background-color: #222;
    color: #fff;
  }
  
  h1, h2 {
    color: #fff;
  }
  
  .page {
    margin-bottom: 20px;
  }
  
  .card {
    border: 1px solid #444;
    border-radius: 8px;
    background-color: #333;
    color: #fff;
    margin-bottom: 1rem;
  }
  
  .card-header {
    background-color: #444;
    padding: 10px;
    border-radius: 8px 8px 0 0;
  }
  
  .card-body {
    padding: 10px;
    border-radius: 0 0 8px 8px;
  }
  
  .expanding-textarea {
    width: 100%;
    min-height: 50px;
    resize: vertical;
  }
  
  .btn {
    background-color: #555;
    color: #fff;
    margin-top: 1rem;
  }
  