body.bg-dark {
    background-color: #222 !important;
  }
  
  .navbar {
    margin-bottom: 1rem;
  }
  
  .card {
    margin: 1rem 0;
  }
  
  .card-img-top {
    object-fit: cover;
    height: 40vh;
  }
  
  .card-body {
    max-height: 40vh;
    overflow-y: auto;
  }
  
  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  #options-container .btn {
    white-space: normal;
    width: calc(50% - 1rem);
    text-align: center;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-wrap: wrap;
  }
  