.fab-menu {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 1000;
}

.fab-button {
    border-radius: 50%;
    padding: 1.5rem;
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    z-index: 1001;  /* Increased z-index */
}

@media (max-width: 768px) {
    .fab-button {
        padding: 1rem;
        width: 3rem;
        height: 3rem;
        font-size: 1rem;
    }
}

.fab-controls {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 1002;  /* Increased z-index */
}

.fab-controls.active {
    display: flex;  /* Make sure the controls are displayed when active class is added */
}

.hidden {
    display: none;
}

.card {
    margin: 1rem;
}

.card img {
    object-fit: cover;
    width: 100%;
    height: auto;
}

#options-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

#options-container .btn {
    flex-grow: 1;
    margin: 0.5rem;
    text-align: center;
    white-space: normal;
    word-wrap: break-word;
    overflow: hidden;
}

body.dark-mode {
    background-color: #222;
    color: #fff;
}

body.dark-mode .card {
    background-color: #333;
    color: #fff;
}

body.dark-mode .btn {
    background-color: #444;
    color: #fff;
}

.card-body {
    max-height: calc(100vh - 210px);
    overflow-y: auto;
}
